@import 'utils/variables' ;
@import 'utils/mixins';

/*Genral*/

body {
    max-width: 375px;
    margin: 0;
    font-family: 'roboto', 'shrikhand' , sans-serif;
}

/*Header Page d'accueil*/

.header {
    height: 113px;
    @include flexColCenter;
    img {
        width: 43%;
        height: 44px;
        font-family: 'shrikhand' , 'roboto';
    }
    &__img {
        width: 100%;
        height: 63px;
        @include flexCenter;
        padding-right: 30px;
    }
    
   &__loc {
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    @include flexCenter;
    &--icon {
        margin-right: 13px;
    }

   } 
}

#localisation {
    font-size: $size-primary;
    border: none;
    background-color: #EAEAEA;
}

/*Article Page d'accueil*/

.article {
    background-color: $color-grey;
    width: 100%;
    @include flexColCenter;
    text-align: center;
    &__title {
        margin: 0;
        padding-top: 39px;
        width: 73.33%;
    }
    &__para {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 27px;
    }
    &__button {
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        width: 58.13%;
        height: 50px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        font-size: $size-primary;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 57px;
        cursor: pointer;
        transition: 0.3s;
        transform: matrix(1, 0, 0, 1, 0, 0);
        &:active {
        color: #9356dc;
        background: #ffff;
        }   
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
            transition: 0.3s;
        }
    }
}

/*Fionctionnement Page d'accueil*/

.fonction {
    width: 100%;
    &__title {
        margin-top: 48px;
        margin-left: 20px;
    }
    &__form {
        background-color: $color-grey;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        width: 85%;
        height: 72.38px;
        @include flexCenter;
        font-size: $size-primary;
        font-weight: 500;
        margin-bottom: 24.92px;
        margin-left: 32.51px;
        text-decoration: none;
        color: $color-black;
        position: relative;
        &:hover {
            background-color: #f5edff;
            .fonction__icon {
                color: $color-primary;
            }
        } 
    }
    &__number {
        position: absolute;
        left: -7px;
        border: 1px solid $color-primary;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-white;
        font-size: 14px;
        padding: 2px 6px;
    }
    &__icon {
        margin-right: 27px;
    }
    &__ajust {
        padding-right: 20px;
    }
}

/*Card Page d'accueil*/

.card {
    background-color: $color-grey;
    margin-top: 68px;
    @include flexColumn;
    padding: 20px;
    h2 {
        padding: 35px 0 20px 0;
    }
    &__form {
        @include flexColumn;
        width: 100%;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 18px;
        background-color: $color-white;
        position: relative;
    }
    &__text {
        position: absolute;
        right: 10px;
        background-color: $color-tertiary;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 1;
        color: #008766;
        font-size: 14px;
        @include flexCenter;
    }
    &__img {
        position: relative;
        width: 100%;
        height: 180px;
        object-fit: cover;  
        border-radius: 15px 15px 0 0; 
    }
    &__decoration {
        text-decoration: none;
    }
    &__alignIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    &__align {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        color: $color-black;
        row-gap: 5px;
    }
    &__title {
        margin: 0;
    }
    &__para {
        margin: 0;
    }
    .fa-regular {
        font-size: 22px;
        position: absolute;
        &:hover {
            opacity: 0;
        }
    }
    &__icon {
        font-size: 22px;
        padding-right: 11px;
        position: relative;
        opacity: 0;
        color: $color-primary;
        &:hover {
            opacity: 1;
        }
    }
    
}

/*Footer Page d'accueil*/

.footer {
    padding-left: 25px;
    background-color: $color-black;
    margin: 0;
    color: $color-white;
    @include flexColumn ;
    &__title {
        padding-top: 22px;
    }
    &__icontext {
        display: flex;
        align-items: center;
    }
    &__icon {
        padding-right: 11px;
        padding-left: 8px;

    }
    a {
        margin: 5px;
        text-decoration: none;
        color: $color-white;

    }
}

/*Header Menu*/ 

.header1 {
    height: 338px;
    position: relative;
    &__element {
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__icon {
        color: #353535;
    }
    &__logo {
        width: 43.2%;
        height: 44px;
        margin-right: 65px;
    }
    &__img {
        width: 100%;
        height: 275px;
    }
}

.card1 {
    height: auto;
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -60px;
    @include flexColumn;
    &__title {
        padding-top: 32px;
        font-size: 21px;
        font-weight: 400;
        font-family: 'shrikhand';
        color: #101010;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__contener {
        @include flexColumn;
        font-size:$size-primary;
        &--border {
            margin-left: 13px;
            width: 70px;
            border-bottom: 3px solid #99E2D0;
        }
    }
    &__menu {
        background-color: $color-white;
        width: 93%;
        height: 68px;
        margin-bottom: 13px;
        padding-top: 11px;
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        &--title {
            margin: 0;
            font-size: 18px;
        }
        
    }
    &__details {
            display: flex;
            justify-content: space-between;
            &--para {
                font-weight: 300;
                font-size: 15px;
            }
        }
    &__button {
        @include flexColCenter;
        width: 100%;
        margin-top: 40px;
    }
    }

.footer1 {
    position: relative;
    top: -80px;
}
    
    


