/*General*/
body {
  margin: auto;
  font-family: "roboto", "shrikhand", sans-serif;
}

/*Header Page d'accueil*/
.header {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 100%;
  height: 44px;
  font-family: "shrikhand", "roboto";
}
.header__img {
  width: 162px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__loc {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__loc--icon {
  margin-right: 13px;
}

#localisation {
  font-size: 16px;
  border: none;
  background-color: #EAEAEA;
}

/*Presentation Page d'accueil*/
.article {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article__title {
  margin: 0;
  padding-top: 39px;
  width: 73.33%;
}
.article__para {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}

/*Button Page D'accueil */
.btn {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 57px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:active {
  color: #9356dc !important;
  background: white !important;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

/*Fionctionnement Page d'accueil*/
.fonction {
  width: 100%;
}
.fonction__title {
  margin-top: 48px;
  margin-left: 20px;
}
.fonction__form {
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 85%;
  height: 72.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24.92px;
  margin-left: 32.51px;
  text-decoration: none;
  color: black;
  position: relative;
}
.fonction__form:hover {
  background-color: #f5edff;
}
.fonction__form:hover .fonction__icon {
  color: #9356DC;
}
.fonction__number {
  position: absolute;
  left: -7px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
}
.fonction__icon {
  margin-right: 27px;
}
.fonction__ajust {
  padding-right: 20px;
}

/*Restaurants Page d'accueil*/
.restaurants {
  background-color: #F7F7F7;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.restaurants__title {
  padding: 35px 0 20px 0;
}

/*Card page d'accueil */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  background-color: white;
  position: relative;
}
.card__text {
  position: absolute;
  right: 10px;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  color: #008766;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img {
  position: relative;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__decoration {
  text-decoration: none;
}
.card__alignIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.card__align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
  row-gap: 5px;
}
.card__title {
  margin: 0;
}
.card__para {
  margin: 0;
}
.card .fa-regular {
  font-size: 22px;
  position: absolute;
}
.card .fa-regular:hover {
  opacity: 0;
}
.card__icon {
  font-size: 22px;
  padding-right: 11px;
  position: relative;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
}
.card__icon:hover {
  opacity: 1;
}

/*Footer Page d'accueil*/
.footer {
  padding-left: 25px;
  background-color: #353535;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer__title {
  padding-top: 22px;
}
.footer__icontext {
  display: flex;
  align-items: center;
}
.footer__icon {
  padding-right: 11px;
  padding-left: 8px;
}
.footer a {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

/*Header Page menu*/
.header1 {
  width: 100%;
  height: 338px;
  position: relative;
}
.header1__element {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header1__icon {
  color: #353535;
  margin-left: 23px;
}
.header1__contener {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header1__logo {
  width: 162px;
  height: 44px;
}
.header1__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Card Page Menu*/
.card1 {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
}
.card1__title {
  padding-top: 32px;
  font-size: 22px;
  font-weight: 400;
  font-family: "shrikhand";
  color: #101010;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card1 .fa-regular {
  font-size: 22px;
  position: absolute;
  padding-top: 4px;
}
.card1 .fa-regular:hover {
  opacity: 0;
}
.card1__icon {
  font-size: 22px;
  padding-right: 11px;
  position: relative;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
}
.card1__icon:hover {
  opacity: 1;
}
.card1__contener {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.card1__contener--border {
  margin-left: 13px;
  width: 60px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 300;
}
.card1__menu {
  background-color: white;
  width: 93%;
  height: 68px;
  margin-bottom: 13px;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
.card1__menu:hover .card1__encoche {
  margin-right: 60px;
}
.card1__menu--title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card1__menu--para {
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card1__block1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card1__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.card1__block2 {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.card1__price {
  margin-right: -60px;
  transition: all 2s;
}
.card1__encoche {
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  transition: all 500ms;
  width: 59px;
  height: 79px;
  position: relative;
  top: -9.5px;
  right: -71px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1__encoche--icon {
  font-size: 22px;
  background-color: #99E2D0;
  color: white;
  -webkit-animation: quarter 1s ease-in-out;
          animation: quarter 1s ease-in-out;
}

/*Footer Pages Menu*/
.footer1 {
  position: relative;
  bottom: 0;
}

/*Animation pour faire apparaitre les plats petit a petit*/
.entrees__title {
  -webkit-animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 0.5s 1 forwards;
          animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 0.5s 1 forwards;
  opacity: 0;
}

.entrees {
  -webkit-animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 1s 1 forwards;
          animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 1s 1 forwards;
  opacity: 0;
}

.plats__title {
  -webkit-animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 1.5s 1 forwards;
          animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 1.5s 1 forwards;
  opacity: 0;
}

.plats {
  -webkit-animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 2s 1 forwards;
          animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 2s 1 forwards;
  opacity: 0;
}

.desserts__title {
  -webkit-animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 2.5s 1 forwards;
          animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 2.5s 1 forwards;
  opacity: 0;
}

.desserts {
  -webkit-animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 3s 1 forwards;
          animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 3s 1 forwards;
  opacity: 0;
}

@-webkit-keyframes translate_menu {
  from {
    transform: translate(-50px);
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes translate_menu {
  from {
    transform: translate(-50px);
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}
/*LOADER*/
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: white;
  height: 100%;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: disappear 200ms 3s forwards;
          animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader__border {
  width: 50px;
  height: 50px;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  margin-right: 20px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.loader__para {
  font-size: 50px;
  color: #9356DC;
  -webkit-animation: opac 3s linear;
          animation: opac 3s linear;
}

@-webkit-keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Responsives Tablette*/
@media screen and (min-width: 784px) {
  .header__img {
    width: 200px;
  }
  .fonction__contener {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fonction__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonction__icon {
    margin-right: 23px;
    margin-left: 23px;
  }
  .restaurants__title {
    padding-left: 48px;
  }
  .contener__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 40%;
  }
  .footer {
    height: 114px;
  }
  .footer__title {
    padding-top: 0;
    margin-left: 100px;
    margin-right: 100px;
  }
  .footer__contener {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 114px;
  }
  .footer__contener1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .footer__logo {
    width: 200px;
  }
  .card1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*Responsives Desktop */
@media screen and (min-width: 1200px) {
  .article__title {
    font-size: 40px;
    font-weight: 700;
  }
  .fonction__title {
    margin-left: 193px;
  }
  .fonction__contener {
    margin-left: 173px;
    margin-right: 172px;
  }
  .restaurants__title {
    margin-left: 130px;
  }
  .contener__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 173px;
    margin-right: 170px;
  }
  .card {
    width: 24%;
  }
  .card__alignIcon {
    font-size: 14px;
  }
  .footer__contener1 {
    gap: 40px;
  }
  /*Responsives des pages des menu */
  .card1__title {
    justify-content: center;
  }
  .card1__title h1 {
    margin-right: 24px;
  }
  .card1__contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card1__contener--border {
    margin: 0;
    margin-bottom: 12px;
  }
  .card1__bloc {
    width: 60%;
    display: flex;
    justify-content: flex-start;
  }
  .card1__menu {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */