body {
  max-width: 375px;
  margin: 0;
  font-family: "roboto", "shrikhand", sans-serif;
}

.header {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 43%;
  height: 44px;
  font-family: "shrikhand", "roboto";
}
.header__img {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__loc {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__loc--icon {
  margin-right: 13px;
}

.article {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article__title {
  margin: 0;
  padding-top: 39px;
  width: 73.33%;
}
.article__para {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}
.article__button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  width: 58.13%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 57px;
}

.fonction {
  width: 100%;
}
.fonction__title {
  margin-top: 48px;
  margin-left: 20px;
}
.fonction__form {
  background-color: #F7F7F7;
  border-radius: 20px;
  width: 85%;
  height: 72.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24.92px;
  margin-left: 32.51px;
  text-decoration: none;
  color: black;
}
.fonction__form:hover {
  background-color: #f5edff;
}
.fonction__icon {
  margin-right: 27px;
}
.fonction__ajust {
  padding-right: 20px;
}

.card {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h2 {
  padding-top: 54px;
  padding-right: 170px;
}
.card__form {
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 251px;
  border: 5px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  margin-bottom: 18px;
  background-color: white;
}
.card__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.card__title {
  margin: 0;
}
.card__align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.card__para {
  margin: 0;
}
.card__alignIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card__icon {
  font-size: 22px;
}

.footer {
  padding-left: 25px;
  background-color: black;
  margin: 0;
  color: white;
}
.footer__title {
  padding-top: 22px;
}
.footer__icontext {
  display: flex;
  align-items: center;
}
.footer__icon {
  padding-right: 11px;
  padding-left: 8px;
}
.footer p {
  margin: 5px;
}/*# sourceMappingURL=style.css.map */