@import 'utils/variables' ;
@import 'utils/mixins';

body {
    max-width: 375px;
    margin: 0;
    font-family: 'roboto', 'shrikhand' , sans-serif;
}

.header {
    height: 113px;
    @include flexColCenter;
    img {
        width: 43%;
        height: 44px;
        font-family: 'shrikhand' , 'roboto';
    }
    &__img {
        width: 100%;
        height: 63px;
        @include flexCenter;
    }
    
   &__loc {
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    @include flexCenter;
    &--icon {
        margin-right: 13px;
    }
   } 
}

.article {
    background-color: $color-grey;
    width: 100%;
    @include flexColCenter;
    text-align: center;
    &__title {
        margin: 0;
        padding-top: 39px;
        width: 73.33%;
    }
    &__para {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 27px;
    }
    &__button {
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        width: 58.13%;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        font-size: $size-primary;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 57px;
        transform: scale(1);
        &:active {
        color: #9356dc;
        background: #ffff;
        }   
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
    }
}
.fonction {
    width: 100%;
    &__title {
        margin-top: 48px;
        margin-left: 20px;
    }
    &__form {
        background-color: $color-grey;
        border-radius: 20px;
        width: 85%;
        height: 72.38px;
        @include flexCenter;
        font-size: $size-primary;
        font-weight: 500;
        margin-bottom: 24.92px;
        margin-left: 32.51px;
        text-decoration: none;
        color: $color-black;
        position: relative;
        &:hover {
            background-color: #f5edff;
            .fonction__icon {
                color: $color-primary;
            }
        } 
    }
    &__number {
        position: absolute;
        left: -7px;
        border: 1px solid $color-primary;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-white;
        font-size: 14px;
        padding: 2px 6px;
    }
    &__icon {
        margin-right: 27px;
    }
    &__ajust {
        padding-right: 20px;
    }
}

.card {
    background-color: $color-grey;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h2 {
        padding: 35px 0 20px 0;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 18px;
        background-color: $color-white;
        position: relative;
    }
    &__text {
        position: absolute;
        background-color: #99E2D0;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    &__img {
        position: relative;
        width: 100%;
        height: 180px;
        object-fit: cover;  
        border-radius: 15px 15px 0 0; 
    }
    &__decoration {
        text-decoration: none;
    }
    &__alignIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    &__align {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-decoration: none;
        color: $color-black;
        row-gap: 5px;
    }
    &__title {
        margin: 0;
    }
    &__para {
        margin: 0;
    }
    &__icon {
        font-size: 22px;
        transition: background-color 400ms;
        padding-right: 20px;
        &:active {
            background-color: $color-primary;
        }
    }
}
.footer {
    padding-left: 25px;
    background-color: $color-black;
    margin: 0;
    color: $color-white;
    &__title {
        padding-top: 22px;
    }
    &__icontext {
        display: flex;
        align-items: center;
    }
    &__icon {
        padding-right: 11px;
        padding-left: 8px;

    }
    p {
        margin: 5px;

    }
}