/*Responsives Pages d'accueil*/

@media screen and (min-width:1200px) {
    
    .article {
        &__title {
            font-size: $size-big;
            font-weight: 700;
        }
    }

    .fonction {
        &__title {
            margin-left: 193px;
        }
        &__contener {
            margin-left: 173px;
            margin-right: 172px;
        }
    }

    .restaurants {
        &__title {
            margin-left: 130px;
        }

    }

    .contener__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 173px;
        margin-right: 170px;
    }

    .card {
        width: 24%;
        &__alignIcon {
            font-size: $size-litle;
        }
    }

    .footer {
        &__contener1 {
            gap: $size-big;
        }
    }

    /*Responsives des pages des menu */


.card1 {
    &__title {
        justify-content: center;
        h1 {
            margin-right: 24px
        }
    }
    &__contener {
        @include flexColCenter;
        &--border {
            margin: 0;
            margin-bottom: 12px;
        }
    }
    &__bloc {
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }
    &__menu {
        width: 60%;
}
}


}
