.header1 {
    width: 100%;
    height: 338px;
    position: relative;
    &__element {
        height: 63px;
        width: 100%;
        @include flexBetweenCenter
    }
    &__icon {
        color: #353535;
        margin-left: 23px;
    }
    &__contener {
        width: 100%;
        @include flexCenter;
    }
    &__logo {
        width: 162px;
        height: 44px;
    }
    &__img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}

.card1 {
    width: 100%;
    height: auto;
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -60px;
    @include flexColumn;
    &__title {
        padding-top: 32px;
        font-size: $size-tertiary;
        font-weight: 400;
        font-family: 'shrikhand';
        color: #101010;
        @include flexAroundCenter
    }
    .fa-regular {
        font-size: $size-tertiary;
        position: absolute;
        padding-top: 4px;
        &:hover {
            opacity: 0;
        }
    }
    &__icon {
        font-size: $size-tertiary;
        padding-right: 11px;
        position: relative;
        opacity: 0;
        color: transparent;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        &:hover {
            opacity: 1;
        }
    }
    &__contener {
        @include flexColumn;
        font-size:$size-primary;
        &--border {
            margin-left: 13px;
            width: 60px;
            border-bottom: 3px solid #99E2D0;
            font-weight: 300;
        }
    }
    &__menu {
        background-color: $color-white;
        width: 93%;
        height: 68px;
        margin-bottom: 13px;
        padding-top: 11px;
        padding-left: 11px;
        padding-right: 11px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        &--title {
            margin: 0;
            font-size: $size-secondary;
            font-weight: 500;
        }
        
    }
    &__details {
            display: flex;
            justify-content: space-between;
            opacity: 1;
            &--para {
                font-weight: 300;
                font-size: $size-primary;
            }
        }
    &__button {
        @include flexCenter;
        width: 100%;
        margin-top: 40px;
    }
    &__encoche {
        opacity: 0;
        border-radius: 0px 15px 15px 0px;
        background: $color-tertiary;
        transition: all 2s;
        position: relative;
        &:hover>.card1__menu {
            opacity: 1;
            width: 59px;

        }
    }
    }


.footer1 {
    position: relative;
    bottom: 0;
}

.entrees__title {
    animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 0.5s 1 forwards;
    opacity: 0;
    
}

.entrees {
    animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 1s 1 forwards;
    opacity: 0;

}
.plats__title {
    animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 1.5s 1 forwards;
    opacity: 0;
}

.plats {
    animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 2s 1 forwards;
    opacity: 0;

}

.desserts__title {
    animation: translate_menu 2000ms cubic-bezier(0.1, -0.6, 0.2, 0) 2.5s 1 forwards;
    opacity: 0;
}

.desserts {
    animation: translate_menu 2500ms cubic-bezier(0.1, -0.6, 0.2, 0) 3s 1 forwards;
    opacity: 0;

}

@keyframes translate_menu {
    from {
        transform: translate(-50px);
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}
