@media screen and (min-width:784px)  {
    .header {
        &__img {
            width: 200px;
        }
    }
    .fonction {
        &__contener {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            margin-right: 23px;
            margin-left: 23px;
        }
    }
    
.restaurants {
    &__title {
        padding-left: 48px;
    }
    
}

.contener__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 40%;
}

.footer {
    &__title {
        padding-top: 0;
    }
    &__contener {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    &__contener1 {
        display: flex;
        justify-content: center;
    }
}
.header1 {
    &__icon {
        margin-right: 150px;
    }
    &__logo {
       width: 200px; 
    }
    
}

.card1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}
}

