@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin hiddenEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}