$color-primary: #9356DC;
$color-tertiary: #99E2D0;
$color-grey: #F7F7F7;
$color-black: black;
$color-white: white;
$size-litle: 14px;
$size-primary: 16px;
$size-secondary: 18px;
$size-tertiary: 22px;
$animation-duration: 3s;
